# Postgres
POSTGRES_DB=conferencedb
POSTGRES_USER=conference_user
POSTGRES_PASSWORD=supersecret
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Django
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=False
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin1234

# Redis
REDIS_URL=redis://redis:6379/0
